.idea/
out.csv
src/classes/CalloutHandler.cls
src/classes/CalloutHandler.cls-meta.xml
src/classes/DeleteAllLogsBatch.cls
src/classes/DeleteAllLogsBatch.cls-meta.xml
src/classes/MyController.cls
src/classes/MyController.cls-meta.xml
src/classes/MyExtention.cls
src/classes/MyExtention.cls-meta.xml
src/classes/RemoveOrdersProcessor.cls
src/classes/RemoveOrdersProcessor.cls-meta.xml
src/classes/Task3Controller.cls
src/classes/Task3Controller.cls-meta.xml
src/pages/TestVFTempMain.page
src/pages/TestVFTempMain.page-meta.xml
src/pages/VFTemplate.page
src/pages/VFTemplate.page-meta.xml
